<!DOCTYPE html>
<html>

<style>
    :root{
        color-scheme: light dark;
    }
    
    body{
        display: grid;
        place-content: center;
        place-items: center;
        font-family: monospace;
        text-align: center;
    }

    ul{
        list-style: none;
        text-align: center;
    }
    
    li{
        line-height: 1.5;
    }

    span[scope="row"]{
        font-weight: bold;
    }
</style>

<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel="shortcut icon" href="/go-fast.png" type="image/png">
    <title>Go + Echo</title>
</head>

<body>
    <h1>Go + Echo API</h1>
    <img src="/images/go-fast.png" alt="Gopher running fast" height="200" width="200"/>
    <ul>
        {{range $k,$v := .}}
        <li>
            <span scope="row">{{$k}}</span>
            <span>-</span>
            <span>{{$v}}</span>
        </li>
        {{end}}
    </ul>
    <p>Read the <a href="/swagger/index.html">Swagger documentation</a> to learn more about the API.</p>
</body>

</html>