<div>
    {{ define "header" }}
    <header>
        <h1>Uniblox Task</h1>
    </header>
    {{ end }}
    {{ define "footer" }}
    <footer>
        <small>Copyright &copy; 2033 Go API Starter</small>
    </footer>
    {{ end }}
</div>