<div>
    {{ define "header" }}
    <header>
        <h1>Go API Starter</h1>
        <p>A boilerplate for building RESTful APIs in Go</p>
    </header>
    {{ end }}
    {{ define "footer" }}
    <footer>
        <small>Copyright &copy; 2033 Go API Starter</small>
    </footer>
    {{ end }}
</div>